<div id='project-loading' class="loading"></div>
<div id='project'>
  <div class="clearfix">
    <a id='prev-project' data-id='' class='js-show-project' href='javascript:void(0);'>&lt;-- prev</a>
    <a id='next-project' data-id='' class='js-show-project right' href='javascript:void(0);'>next --&gt;</a>
  </div>

  <div class="clearfix">
    <h2 class="inline" id="project-name"></h2>
    <a class="btn btn-default right" id="edit-project">Edit</a>
  </div>

  <div id="project-messages"></div>

  <p id="project-description"></p>
  <h3>Tasks</h3>
  <ul class="list-group">
    <div id='project-tasks'></div>
    <%= form_for Task.new, html: {class: 'list-group-item', id: 'new-task'} do |f| %>
      <%= f.text_field :name, placeholder: 'New task', class: 'form-control', id: 'new-task-name' %>
      <button type="submit" class="new-task-button">
        <span class="glyphicon glyphicon-plus" id='new-task-button-icon'></span>
        <div class="loading" id='new-task-button-loader'></div>
      </button>
    <% end %>
  </ul>
  <%= link_to "Delete", project_path(@project), method: 'delete', id: 'delete-project', class: 'btn btn-danger'%>
</div>
<script>
  $(function(){
    $('#new-task-button-loader').hide();
    showProject(<%= @project.id %>);
    $('.js-show-project').click(function(){
      showProject($(this).data().id);
    });
    $('#new-task').submit(function(event){
      event.preventDefault();
      if($('#new-task-name').val()=='')return;
      addTaskToProjectFromFormData($(this).data().projectId, $(this).serialize());
      $('#new-task-name').val('');
    });
  });
</script>
