<div class="clearfix">
  <h2 class="inline" id="project-name"></h2>
  <%= link_to "Edit", edit_project_path(@project), id: 'edit-project', class: 'btn btn-default right'%>
</div>

<div id="project-messages"></div>

<p id="project-description"></p>
<h3>Tasks</h3>
<ul class="list-group" id='project-tasks'>

</ul>
<%= link_to "Delete", project_path(@project), method: 'delete', id: 'delete-project', class: 'btn btn-danger'%>

<script>
  $(function(){
    showProject(<%= @project.id %>);
  });
</script>
