/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.field_with_errors label{
  color:red;
}

#project-messages{
  margin-top: 10px;
}

.task-completed{
  background-color: #AADDAA;
}

.task-overdue{
  background-color: #DDAAAA;
}

.task-warning{
  background-color: #DDDDAA;
}

.right{
  float: right;
}

.inline{
  display: inline;
}

.task-list-btn{
  float: right;
  font-size: 16px;
  width: 32px;
  padding: 3px;
  margin: -6px;
  margin-left: 10px;
  margin-right: -5px;
}

.complete-by{
  font-style: italic;
  float: right;
}

.loading{
  border: 3px solid #FFF;
  border-top: 3px solid #DDD;
  width: 64px;
  height: 64px;
  margin: 20px auto;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
