<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Please fix the following errors: </strong>
    <ul>
      <% object.errors.full_messages.each do |error| %>
        <li class="form-error"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
